/* stylelint-disable at-rule-no-unknown */
/* Tell linters/PostCSS that Tailwind directives are intentional */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";